/* Agregar un estilo a ProductDetail */
#botonCotizar {
  margin-left: 0; /* Elimina el margen a la izquierda */
}

/* Estilos generales */
html, body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #40ffcf;
}

.header {
  background-color: #7e7ec9;
  padding: 1% 0;
  border-radius: 10px;
}

h1 {
  color: rgb(7, 6, 6);
  text-align: center;
  font-weight: bold;
  font-style: oblique;
}

/* Estilos para el contenido principal */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

select, input {
  width: 100%;
  padding: 1rem;
  margin: 0.5rem 0;
  border-radius: 5px;
}

.container {
  background-color: #40ffcf;
  padding: 1%;
  border-radius: 1rem;
  margin: 2% aut;
  width: 95%;
}

/* Estilos para el formulario */
form .column {
  display: flex;
  flex-direction: start;
  justify-content: flex-start; /* Alinea las columnas a la izquierda en dispositivos móviles */
}

.column div {
  margin-bottom: 10px;
}

.column div label {
  display: block;
  color: #605e5e;
  font-weight: bold;
}

/* Estilos para el botón de cotización */
.buttonCotizacion {
  width: 100px;
  height: 50px;
  background: cadetblue;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 1px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  cursor: pointer;
  border-radius: 10%;
  margin: 15px 0 10px;
  text-align: center;
}

/* Estilos para el mensaje */
.mensaje {
  background-color: #454546;
  padding: 1% 0;
  width: 70%;
  margin: 0 auto;
  border-radius: 16px 16px 0 0;
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}

.error {
  padding: 11px 0 0;
  text-align: center;
  color: red;
  margin: 0 auto;
}

.resultado {
  padding-bottom: 3%;
}

.alert {
  background-color: rgba(226, 14, 14, 0.22);
  border-radius: 10px;
  color: red;
  padding: 1rem;
  animation: blink 1s 2;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* Estilos para dispositivos móviles (máximo 768px de ancho) */
@media only screen and (max-width: 768px) {
  /* Estilos adicionales para dispositivos móviles */
  .buttonCotizacion {
    width: 100%;
  }
}

.text-center {
  background-color: #27ac8a;
  border-style: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  font-weight: bold;
}
